#myTopnav {
  display: flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}
.topnav {
    background-color: rgba(0,,0,0,0);
    overflow: hidden;
    z-index: 5;
    display: flex;
    height: 75px;
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
    -webkit-align-items: center;
            align-items: center;
    position: fixed;
    width: 100vw;
    -webkit-transition: 1s;
       -moz-transition: 1s;
        -ms-transition: 1s;
         -o-transition: 1s;
            transition: 1s;
}



.solid {
  background-color: #717171;
  -webkit-transition: 1s;
     -moz-transition: 1s;
      -ms-transition: 1s;
       -o-transition: 1s;
          transition: 1s;
}

.Staysolid {
  background-color: #717171;

}
.nav-links {
  padding-right: 50px;
}



/* Style the links inside the navigation bar */
.topnav a {
    color: #f9f9f2;
    text-align: center;
    padding: 4px 9px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
/*.topnav a:hover {
    color: #e6d5b5;
    border-bottom: 1px solid #e6d5b5;
}*/

/* Add an active class to highlight the current page */
.active {
    color: white !important;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}


.logomoagem {
  width: 110px;
}


#BistroLogoNav {
  width: 130px;
  padding-bottom: 3px;
}

#cafeSvg {
  width: 105px;
  padding-bottom: 2px;
}

.active #BistroLogoNav.fill path {
  fill: #6ee981 !important;
  -webkit-transition: 1.3s;
     -moz-transition: 1.3s;
      -ms-transition: 1.3s;
       -o-transition: 1.3s;
          transition: 1.3s;
}
#svgEvent {
  width: 85px;
  padding-top: 2px;
}

#svgEventos {
  width: 99px;
}

#svgYoga {
  width: 66px;

}

#svgRoots {
  width: 72px;
  padding-top: 2px;
}
#svgOrigens {
  width: 103px;
}
#contactSvg {
  width: 108px;
  padding-top: 2px;
}
#contactosSvg {
  width: 137px;
}

a.change-language,a.change-language-mobile {
  font-family: 'Cocosignummaiuscoletto';
  font-size: 20px;
  position: absolute;
  top: 25px;
  right: 50px;
}

a.change-language-mobile {
  display: none;
}

a.active .svgNav path, a.active .svgNav text{
  fill: #c7bba4 !important;
}

.svgNav:hover path, .svgNav:hover text, a.change-language:hover {
  fill: #c7bba4 !important;
  color: #c7bba4;
  -webkit-transition: 0.2s;
     -moz-transition: 0.2s;
      -ms-transition: 0.2s;
       -o-transition: 0.2s;
          transition: 0.2s;
}




@media screen and (min-width: 700px) and (max-width: 828px) {
  /* Resize all logo to be resp */
  .svgNav {width: 97px;}
  #BistroLogoNav {width: 110px;}
  #cafeSVg {width: 85px;}
  #svgEvent {width: 65px;}
  #svgEventos {width: 79px;}
  #svgYoga {width: 55px;}
  #svgRoots {width: 65px;}
  #svgOrigens {width: 83px;}
  #contactSvg {width: 88px;}
  #contactosSvg {width: 117px;}
  a.change-language {font-size: 17px;}

}


@media screen and (max-width: 720px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    display: -webkit-inline-box;
  }

 a.change-language {
   display: block !important;
   font-size: 17px;
   top: 23px;
   right: 20vw;
   padding-right: 0;
 }

  .topnav.responsive a.icon {
    position: absolute;
    right: 50px;
    top: 10px;
  }

  div.topnav {
    top: 0;
    padding: 0 !important;
    background: #717171;
  }

  .topnav.responsive {
    height: 100vh;
    background: #717171;
    -webkit-justify-content: center !important;
            justify-content: center !important;
    -webkit-align-items: center;
            align-items: center;
    padding: 0;
    position: fixed !important;
    top: 0;
  }

  .topnav.responsive .nav-link {
    height: 40px;
    display: block;
    padding: none;
    font-family: 'Cocosignummaiuscoletto';
    font-size: 20px;
  }

  .nav-link .svgNav {
    height: 40px;
  }

  .nav-links {
    padding: 0;
    display: flex;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-align-items: center;
            align-items: center;
    width: 80%;
    padding-left: 40px;
  }

  .topnav.responsive .nav-links {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
      padding: 0;
      width: 100%;
  }

}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 720px) {
  .topnav.responsive {position: relative;}
}



